.gitattributes
.github
.vscode

__helpers__
__tests__

coverage
docs
node_modules
scripts
src

openapi.json
openapitools.json
openapi-templates

.eslintignore
.eslintrc.cjs
codecov.yml
jest.config.cjs
rollup.config.js
.sonarcloud.properties
tsconfig.json
