name: SDK Publish

on:
  workflow_dispatch:
  push:
    branches:
      - openapi-unstable
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    if: ${{ github.repository == 'jellyfin/jellyfin-sdk-typescript' }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event_name == 'release' && '' || 'openapi-unstable' }}

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: npm
          registry-url: https://registry.npmjs.org

      - name: Update unstable package version
        if: ${{ github.event_name != 'release' }}
        run: |
          VERSION="0.0.0-unstable.$(date +%Y%m%d%H%M)+commit.$(git rev-parse HEAD)" && \
          PACKAGE="$(jq --arg v "$VERSION" '.version = $v' package.json)" && \
          echo -E "${PACKAGE}" > package.json

      - name: Install Node.js dependencies
        run: npm ci --no-audit

      - name: Publish the SDK to npm
        run: |
          if [ "${{ github.event_name }}" == "release" ]; then
            echo "Publishing stable release"
            npm publish
          else
            echo "Publishing unstable release"
            npm publish --tag unstable
          fi
