name: Integration Test

on:
  schedule:
    - cron: '15 8 * * 1'
  workflow_dispatch:

jobs:
  test:

    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          check-latest: true
          cache: npm

      - name: Install Node.js dependencies
        run: npm ci --no-audit

      - name: Run Vitest
        run: npm run test:integration
        env:
          JF_TS_SDK_SERVER: ${{ secrets.TEST_SERVER }}
          JF_TS_SDK_USER_NAME: ${{ secrets.TEST_USER_NAME }}
          JF_TS_SDK_USER_PWD: ${{ secrets.TEST_USER_PWD }}
